<h1>Cadastro de Produtos</h1>

<label [matBadge]="produtos.length" matBadgeOverlap="false">Produtos</label>

<br>
<mat-form-field>
  ID: <input matInput [(ngModel)]="produtoTratamento.id" placeholder="Digite o ID do Produto">
</mat-form-field>
<mat-form-field>
  Nome: <input matInput [(ngModel)]="produtoTratamento.nome" placeholder="Digite seu nome">
</mat-form-field>
<mat-form-field>
  Categoria: <input matInput [(ngModel)]="produtoTratamento.categoria" placeholder="Digite sua Categoria">
</mat-form-field>

<button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar</button>
<br>
<div class="mensagem-erro">{{mensagemErro}}</div>
<br>
<mat-card class="example-card" *ngFor="let produto of produtos">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>{{produto.nome | titlecase}}</mat-card-title>
    <mat-card-subtitle>{{produto.id| id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      O produto {{produto.nome}}, de categoria:  {{produto.categoria}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab color="primary" (click)="remover(produto)">
      <mat-icon> delete</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>



<br>
Pesquisar: <input (keyup)="pesquisar(inputPesquisa.value)" #inputPesquisa>
<ul>
  <li *ngFor="let produto of ProdutosPesquisa">
    {{produto.id | id}}-{{produto.nome | titlecase}}
  </li>
</ul>

